<div id="chess-controlpanel">
  <div style="clear: both">
    <button id="but-newgame" class="game-control" @click="startNewGame">Player new game</button>
    <button id="but-savegame" class="game-control" @click="saveCurrentGame">SaveGame</button>
  </div>
  <modal-player-color-chooser :modalId=0 :title="modal.title" v-model="modal.visible" :bg-click="false" :verify="true" @MODAL_OK_EVENT="MODAL_OK_EVENT" @MODAL_CANCEL_EVENT="MODAL_CANCEL_EVENT">
    <div style="clear: both; background: lightYellow">
      <label style="float: left; font-size: 14px;font-weight: bold; margin-top: 8px">Select your color</label>
      <select id="select-playercolor" v-model="player_color" style="float: left; font-size: 12px; margin-left: 10px; margin-top: 5px">
        <option value = "white">White</option>
        <option value = "black">Black</option>
      </select>
    </div>
  </modal-player-color-chooser>
</div>
