<div>
    <h1>{{ welcome_message }} </h1>
    <div style="width: 1000px">
        <div style = "float: left; width: 250px">
            <p style = "margin-left: 20px">Current Game Status:</p>
            <chess-status></chess-status>
        </div>
        <div style = "float: left; width: 500px">
            <chess-controlpanel></chess-controlpanel>
            <chessboard></chessboard>
        </div>
        <div style = "float: left; width: 250px">
            <p style = "margin-left: 20px">Saved Games:</p>
            <saved-games></saved-games>
        </div>
    </div>
</div>
